<!DOCTYPE html>
<html lang="ja">
<head><link rel="stylesheet" href="css/secondpage.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class=comment>
    <center><h1>コミュニティー</h1></center>
<a>ここでは、奈良で撮った写真や思いなどをシェアする場所です。どんどん送って下さい。</a>
</body>
</html>