<!DOCTYPE html>
<html lang="ja">
<head>
   <link rel="stylesheet" href="css/secondpage.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
  <div class="word">
<h1><center>奈良の鹿</center></h1>
</div>
    <div class=photo>
   <img src="img/deer.jpg">     </div>

<div class=ban>
 <h1>奈良公園に行くとよく見ることができます。鹿は、鹿せんべいを持っていると急速で狙いに来ます。もし、鹿せんべいを買う場合は注意してください。また奈良の鹿は天然記念物に指定されていす。そのため、奈良公園周辺ではよく鹿飛び出し注意の標識があります。鹿を使った催しは鹿の角切りなどがある。鹿をモチーフにしたキャラはせんとくん、しかまろなどです。</h1></div>
    <div class=word><h1><center>燈花会</center></h1></div>
    <div class=photo>
    <img src=img/touka.jpg>
 </div>
<div class=ban>
    <h1>なら燈花会は毎年夏に近鉄奈良駅周辺の観光地で行われるイルミネーションです。灯篭は実際にひとつずつ付けられていて、実際に自分でつけることができます。（料金は発生しますが、来年の燈花会の寄付になります。）</h1>
</div>
</body>
</html>